body{
  background: linear-gradient(#52c798 0%,#4793d1 100%);
  background-repeat: no repeat;
  text-align: center;
}
#2{
  height: 6px;
	background-color: #000;
	width: 70px;
	margin: 8px auto;
}
h1{
  font-size: 63px;
}
h2{
  font-size: 34px;
}
#img1{
  border-radius: 50%;
}
p{
  font-size: 20px;
}